{
  box-sizing : border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  left: 50;
  
 }


.main-section{
  height: 100vh ;
  background-color: black;
 /*background: linear-gradient(to left ,
   white 0%,
     white 75%,       
     #570b1e 50%,
     #570b1e 100%                     
  );*/
}
.main-container{
  padding-top: 210px;
  text-align: center;
}
.front-head{
  text-align: center;
font-size:170px;
font-family: 'Bebas Neue', cursive;
color: white;
text-transform: uppercase;  
letter-spacing: 6px;
}

.front-h2{

  letter-spacing: 6px;
text-align: center;
font-size: 170px;
font-family: 'Bebas Neue', cursive;
color: white;
text-transform: uppercase;
}

.btn-div{
  margin-left: 930px;
  margin-top: 30px;
}






.owner{
  font-family:   'Bebas Neue', cursive;
  font-size: 30px;
  color: white;
  margin: auto;
  margin-left: 485px;
  text-align: center;
  border: 1px solid white;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #841b2d;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 20px;
  
  
}

.navbar{
  display:flex;
  position:fixed;
  flex-direction:column; 
  width:100%;
  top:0px;
  left:0;
  height:68px;
  background: black;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);*/
  border-bottom: 1px solid #841b2d;
 
}
.nav-lists{
    display:inline-flex;
    gap:30px;
    list-style:none;
    margin-left:65%;
   cursor:pointer;
   margin-top:25px;
   font-family: 'Bebas Neue', cursive;
   font-weight: bold;
  
}

.nav-lists a {
  display:block;
  padding: 0 9px;
  text-align:center;
  font-size: 25px;
 color: white;
 text-decoration:none;
  letter-spacing: 2px;
   position: relative;
   
 
} 

 .nav-lists  a:after{
  content: "";
  position: absolute;
  background-color: #841b2d;
  height: 2px;
  width: 0;
  left: 4px;
  bottom: -2px;
  transition: 0.3s;
  color: #841b2d;
 }
.nav-lists a:hover:after{
   width: 90%;
   
}
.nav-lists a:hover{
  color: #841b2d;
}

footer{

  bottom:0;
  left:0;
  width:100%;
  height:280px;
  background-color: black;
  border-top: 1px solid gray;
  margin-top: -90px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;

}

.copyright{
  color:white;
  text-align: center;
  font-size: 18px; 
  margin-top: 59px;
 
}
.icons{
  text-align: center;
}
 .icons a{
   font-size: 40px;
    margin: 0 14px ;
    color:white;
    
 }

 .icons i{
   margin-top:75px;
   
  
 }
.icons i:hover{
  color:#841b2d
}

.arrow{
  margin-left: 1250px;
  position: relative;
  font-size: 43px;
  top: -50px;
  color:white;
}
.arrow:hover{
 color:#841b2d;
}

.About{
    width:340px;
    margin-top: 90px;
    height:520px;
    background-color:#faf3e3;
    margin-left: 310px;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0px 3px 15px #999;
    border: 15px solid #841b2d
   }
  
  
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top:30px;
    
} 

div h2{
  text-align: center;
  letter-spacing: 2px;
}

.sec-p{
 width: 50px;
  height: 2px;
  margin: auto;
  background-color: #841b2d;
  margin-top: 40px;
  
}
.sec-p2 {
  text-align: center;
  margin-top:35px;
  font-size:20px;
}

.card-icons a {
  margin:6px;
  font-size: 25px; 
}

.card-icons{
  text-align: center;
  margin-top: 30%;
  
}

.div-icon{
   background-color:white;
   width: 100%;
   height: 60px;

  

}
.card-icons i{
  margin-top:20px;
  color:black;
}




.section{
  width:100%;
  height:100vh;
  display: flex;              
  font-family: 'Bebas Neue', cursive;
}


.description{
  margin-top: 80px;
  line-height:20px;
  word-spacing: 5px;
  animation-name: container;
  animation-duration: 9s;
  margin-right: -600px;
  margin-left: 50px;
  box-sizing: border-box;
  height: 540px;
  
  }
/*@keyframes container{
  from{transform :translateY(-100px)}
  to{transform : translateY(30px)}
}*/

  

.description h2{
  font-size: 95px;
  font-weight: bolder;
  text-align: left;
  text-shadow: 1px 1px #999;
  text-decoration: underline;
  text-decoration-color: #841b2d;
  letter-spacing: 3px;
  margin-left: 15px;
}
.intro{
  font-size: 23px;
  font-weight:bold;
  word-spacing: -1px;
  margin-right:10px;
  margin-left:80px;
  
  
}
.button{
 display:flex;
gap:15px;
margin-left:20px;
padding-top:20px;
padding-bottom: 20px;


 }

.description button{
  width:110px;
  height:40px;
  font-size:20px;
 cursor:pointer;
 box-shadow: 0 5px rgba(0,0,0,.2);
 font-family: 'Bebas Neue', cursive;
 border-radius: 10px;
 letter-spacing: 1px;
}

.btn-1{
  border-style:none;
  background-color: white;
 color: black;
 border: 3px solid black;
 
}

 
.btn-2 {
  border-style:none;
  background-color: white;
  border: 3px solid black;
}

.description button:active {
  background-color: white;
  box-shadow: 0 5px rgba(0,0,0,.2);;
  transform: translateY(4px);
  
}

.description p{
  line-height: 1.5rem;
  padding-top:10px;
  font-size:17px;
  word-spacing: 3px;
  text-align: justify;
  margin-left: 20px;
  width: 390px;
  font-family:  'Playfair Display', serif;
  line-height: 1.9rem;
  margin-right: 60px;
}

.projects-section{
  padding-top:100px;
  margin-top:20px;
  margin-bottom: 90px;
  height: 160vh; 
  background: black;
 }

.projects-section h1{
  text-align: center;
  font-size:50px;
  margin-top: -17px;
  color: white;
  font-family: 'Bebas Neue', cursive;       
  letter-spacing: 2px;

}

.projects-section  h1:after{
  content: "";
  background-color:#841b2d;
  height: 4px;
  width: 100px;
  left: 620px;
  bottom: -10px;
  transition: 0.3s;
  color: #841b2d;
  display:block;
  position: relative;
  
}

.grid{
  display: grid;
  grid-template-columns: 460px 460px  ;
  grid-template-rows: 430px  430px;
  margin-left: 200px;
  align-items: center;
  margin-top: 60px;
  
  }

.picture-div{
 
  width: 350px;
  height:350px;
  border: 2px solid white;
  background:white;
  /*background: #dfd8c8;*/
  color:black;
  margin-left: 50px;
  margin-top: 40px;
  border-radius: 10px ;
 

  
}

.picture-div p{
  font-weight:bold;
  font-size: 30px;
  padding-top:60px;
  text-decoration: underline;
  margin-left: 30px;
  
}

.p-btn1{
 margin-top: 15px;
 margin-left: 20px;
 width: 310px;
 height: 45px;
 border-radius: 5px;
 border: 2px solid black;
 text-transform: uppercase;
 font-size: 30px;
 font-family:  'Bebas Neue', cursive;
 background-color: #841b2d;
 cursor: pointer;
 color: white;
 position: relative;
 letter-spacing: 1px;

}
.p-btn1:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 4px;
  right: -20px;
  transition: 0.5s;
  
  
}
.p-btn1:hover{
  padding-right: 14px;
}

.p-btn1:hover:after {
  opacity: 1;
  right: 70px;
}


.p-btn2{
  margin-top: 24px;
  margin-left: 20px;
  width: 310px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 30px;
  font-family:  'Bebas Neue', cursive;
  background-color: #841b2d;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}

.p-btn2:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 4px;
  right: -20px;
  transition: 0.5s;
  
  
}
.p-btn2:hover{
  padding-right: 14px;
}

.p-btn2:hover:after {
  opacity: 1;
  right: 70px;
}



.p-btn3{
  margin-top: 15px;
  margin-left: 20px;
  width: 310px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 30px;
  font-family:  'Bebas Neue', cursive;
  background-color: #841b2d;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}
.p-btn3:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 4px;
  right: -20px;
  transition: 0.5s;
  
  
}
.p-btn3:hover{
  padding-right: 14px;
}

.p-btn3:hover:after {
  opacity: 1;
  right: 70px;
}



.p-btn4{
  margin-top: 15px;
  margin-left: 20px;
  width: 310px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 30px;
  font-family:  'Bebas Neue', cursive;
  background-color:#841b2d ;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}

.p-btn4:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 4px;
  right: -20px;
  transition: 0.5s;
  
  
}
.p-btn4:hover{
  padding-right: 14px;
}

.p-btn4:hover:after {
  opacity: 1;
  right: 70px;
}



.project-image1{
 
  margin-left: 16px;
  margin-top: 10px; 
  
}

.project-image2{
 
  margin-left:16px;
  margin-top:10px;
  
  
  
  
  

}

.project-image3{
  
  margin-left:16px;
  margin-top:10px;
  
  
}

.project-image4{
  
  margin-left:16px;
  margin-top:10px;
  
 
}

.picture-div h3{ 
  position:absolute;
  margin-left: 40px;
  padding-top:20px;
}

.Resume-box{
  height: 110px;
  margin-bottom: 90px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background-color: black;
  padding-top: 10px;
  margin-top: -50px;

}
.resume{
  color:white;
  font-size: 45px;
  font-family: 'Bebas Neue' , cursive;
  letter-spacing: 3px;
  width:  300px;
  margin: auto;
  padding-top: 30px;
}
.resume:hover{
  color:#841b2d;
}
.resume-link{
  text-decoration: none;
}
@media screen and (max-width:500px) {
 .main-section{
    height: 100vh ;
    background-color: black;

  }

  .main-container{
    padding-top: 210px;
    text-align: center;
  }
  .front-head{
    text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;  
  letter-spacing: 6px;
  }
  
  .front-h2{
  
    letter-spacing: 6px;
  text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  }
  
  .btn-div{
    margin-left: 930px;
    margin-top: 30px;
  }

  .owner{
    font-family:   'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #841b2d;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .navbar{
    display:flex;
    top: 0;
    width:100%;
    height:68px;
    background: black;
    border-bottom: 1px solid #841b2d;
   
  }
  .nav-lists{
      display:inline-flex;
      gap:25px;
      list-style:none;
      margin:auto;
      cursor:pointer;
      margin-top:25px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      
     
  }
  
  .nav-lists a {
    display:block;
    padding: 0 3px;
    text-align:center;
    font-size: 5vw;
    color: white;
    text-decoration:none;
    letter-spacing: 1px;
    position: relative;
    
  } 
  
   .nav-lists  a:after{
    content: "";
    position: absolute;
    background-color: #841b2d;
    height: 2px;
    width: 0;
    left: 4px;
    bottom: -2px;
    transition: 0.3s;
    color: #841b2d;
   }
  .nav-lists a:hover:after{
     width: 90%;
     
  }
  .nav-lists a:hover{
    color: #841b2d;
  }
  
  footer{
  
    bottom:0;
    left:0;
    width:100%;
    height:263px;
    background-color: black;
    border-top: 1px solid gray;
    margin-top: -90px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
  
  }
  .arrow{
   
    margin-left: 88%;
    font-size: 32px;
    color: white;
    cursor: pointer;
   top: -40px;
   
  
  }

  .arrow:hover{
    color: #841b2d;
  }
  
  .icons{
    text-align: center;
  }
   .icons a{
     font-size: 32px;
      margin: 0 14px ;
      color:white;  
   }
   .icons i{
     margin-top: 90px;
   }
  .icons i:hover{
    color:#841b2d;
  }
   .copyright{
     color:white;
     text-align: center;
     font-size: 14px; 
  
    
   }
  
  
  .About{
      width:270px;
      height: 440px;
      background-color:#faf3e3;
      font-family: 'Bebas Neue', cursive;
      box-shadow: 0px 3px 15px #999;
      border: 15px solid #841b2d;
      margin-left: 13%;
      
     }
    
    
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:30px;
      
  } 
  
  div h2{
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    
  }
  
  .sec-p{
   width: 50px;
    height: 2px;
    margin: auto;
    background-color: #841b2d;
    margin-top: 40px;
    
  }
  .sec-p2 {
    text-align: center;
    margin-top:35px;
    font-size:20px;
  }
  
  .card-icons a {
    margin:6px;
    font-size: 25px; 
  }
  
  .card-icons{
    text-align: center;
    margin-top: 30%;
    background-color:white;
     width: 100%;
     height: 60px;
    
  }
  
  /*.div-icon{
     background-color:white;
     width: 100%;
     height: 60px;
  
    
  
  }*/
  .card-icons i{
    margin-top:20px;
    color:black;
  }
  
  
  
  
  .section{
    width:100%;
    height:150vh;
    display: flex;              
    font-family: 'Bebas Neue', cursive;
    
  }
  
    .description{
    margin-top: 550px;
    line-height:10px;
    word-spacing: 5px;
    animation-name: container;
    animation-duration: 9s;
    margin-left: -310px;
    box-sizing: border-box;

    
    }
  /*@keyframes container{
    from{transform :translateY(-100px)}
    to{transform : translateY(30px)}
  }*/
  
    
  
  .description h2{
    font-size: 15vw;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #999;
    text-decoration: underline;
    text-decoration-color: #841b2d;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-top: 70px;
  }
  .intro{
    font-size: 20px;
    font-weight:bold;
    word-spacing: -1px;
    margin-right:10px;
    margin-left:80px;
    
    
  }
  .button{
   display:flex;
  gap:15px;
  margin-left:10px;
  padding-top:20px;
  padding-bottom: 10px;
  
  
   }
  
  .description button{
    width:90px;
    height:35px;
    font-size:17px;
   cursor:pointer;
   box-shadow: 0 5px rgba(0,0,0,.2);
   font-family: 'Bebas Neue', cursive;
   border-radius: 10px;
   letter-spacing: 1px;
  }
  
  .btn-1{
    border-style:none;
    background-color: white;
   color: black;
   border: 3px solid black;
   
  }
  
   
  .btn-2 {
    border-style:none;
    background-color: white;
    border: 3px solid black;
  }
  
  .description button:active {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.2);;
    transform: translateY(4px);
    
  }
  
  .description p{
    line-height: 1.6rem;
    padding-top:1px;
    font-size:3vw;
    word-spacing: 0.5px;
    text-align: justify;
    margin-left: 11px;
    width: 295px;
    font-family:  'Playfair Display', serif;
    margin-right: 60px;
  }
  
  .projects-section{
    padding-top:100px;
    margin-top:20px;
    margin-bottom: 90px;
    height: 250vh; 
    background: black;
   }
  
  .projects-section h1{
    text-align: center;
    font-size:45px;
    margin-top: -14px;
    color: white;
    font-family: 'Bebas Neue', cursive;       
    letter-spacing: 2px;
  
  }
  
  .projects-section  h1:after{
    content: "";
    background-color:#841b2d;
    height: 4px;
    width: 100px;
    bottom: -10px;
    transition: 0.3s;
    color: #841b2d;
    position: relative;
    left: 39%;
    align-items: center;
  }
  
  .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -50px;
    margin-top: 60px;
   

    
    
    }
  
  .picture-div{
   
    width: 300px;
    height:310px;
    border: 2px solid white;
    background:white;
    /*background: #dfd8c8;*/
    color:black;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 10px ;
    
  }
  
  .picture-div p{
    font-weight:bold;
    font-size: 30px;
    padding-top:60px;
    text-decoration: underline;
    margin-left: 30px;
    
  }
  
  .p-btn1{
   margin-top: 15px;
   margin-left: 20px;
   width: 260px;
   height: 45px;
   border-radius: 5px;
   border: 2px solid black;
   text-transform: uppercase;
   font-size: 27px;
   font-family:  'Bebas Neue', cursive;
   background-color: #841b2d;
   cursor: pointer;
   color: white;
   position: relative;
   letter-spacing: 1px;
  
  }
  .p-btn1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn1:hover{
    padding-right: 14px;
  }
  
  .p-btn1:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  .p-btn2{
    margin-top: 24px;
    margin-left: 20px;
    width: 260px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn2:hover{
    padding-right: 14px;
  }
  
  .p-btn2:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn3{
    margin-top: 15px;
    margin-left: 20px;
    width: 260px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  .p-btn3:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn3:hover{
    padding-right: 14px;
  }
  
  .p-btn3:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn4{
    margin-top: 15px;
    margin-left: 20px;
    width: 260px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color:#841b2d ;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn4:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn4:hover{
    padding-right: 14px;
  }
  
  .p-btn4:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .project-image1{
   
    margin-left: 10px;
    margin-top: 10px;
    width: 280px; 
    
  }
  
  .project-image2{
   
    margin-left:10px;
    margin-top:10px;
    width: 280px;
  
  }
  
  .project-image3{
    width: 280px; 
    margin-left:10px;
    margin-top:10px;
    
    
  }
  
  .project-image4{
    width: 280px; 
    margin-left:10px;
    margin-top:10px;
    
   
  }
  
  .picture-div h3{ 
    position:absolute;
    margin-left: 40px;
    padding-top:20px;
  }
  
  .Resume-box{
    height: 100px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    margin-top: -50px;
  
  }
  .resume{
    color:white;
    font-size: 40px;
    font-family: 'Bebas Neue' , cursive;
    letter-spacing: 3px;
    width:  300px;
    margin: auto;
    padding-top: 30px;
  }
  .resume:hover{
    color:#841b2d;
  }
  .resume-link{
    text-decoration: none;
  }
  
}
/* tablet view */
@media screen and (min-width:501px) and (max-width:768px) {

  .main-section{
    height: 100vh ;
    background-color: black;

  }

  .main-container{
    padding-top: 210px;
    text-align: center;
  }
  .front-head{
    text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;  
  letter-spacing: 6px;
  }
  
  .front-h2{
  
    letter-spacing: 6px;
  text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  }
  
  .btn-div{
    margin-left: 930px;
    margin-top: 30px;
  }

  .owner{
    font-family:   'Bebas Neue', cursive;
    font-size: 3.2vw;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 265px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #841b2d;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .navbar{
    display:flex;
    top: 0;
    width:100%;
    height:68px;
    background: black;
    border-bottom: 1px solid #841b2d;
   
  }
  .nav-lists{
      display:inline-flex;
      gap:30px;
      list-style:none;
      margin:auto;
      cursor:pointer;
      margin-top:25px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      
     
  }
  
  .nav-lists a {
    display:block;
    padding: 0 15px;
    text-align:center;
    font-size: 26px;
    color: white;
    text-decoration:none;
    letter-spacing: 3px;
    position: relative;
    
  } 
  
   .nav-lists  a:after{
    content: "";
    position: absolute;
    background-color: #841b2d;
    height: 2px;
    width: 0;
    left: 4px;
    bottom: -1px;
    transition: 0.3s;
    color: #841b2d;
   }
  .nav-lists a:hover:after{
     width: 90%;
     
  }
  .nav-lists a:hover{
    color: #841b2d;
  }
  
  footer{
  
    bottom:0;
    left:0;
    width:100%;
    height:285px;
    background-color: black;
    border-top: 1px solid gray;
    margin-top: -90px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
  
  }
  .arrow{
   
    margin-left: 88%;
    font-size: 38px;
    color: white;
    cursor: pointer;
   top: -40px;
   
  
  }

  .arrow:hover{
    color: #841b2d;
  }
  
  .icons{
    text-align: center;
  }
   .icons a{
     font-size: 38px;
      margin: 0 14px ;
      color:white;  
   }
   .icons i{
     margin-top: 90px;
   }
  .icons i:hover{
    color:#841b2d;
  }
   .copyright{
     color:white;
     text-align: center;
     font-size: 18px; 
  
    
   }
  
  
  .About{
      width:300px;
      height:460px;
      background-color:#faf3e3;
      font-family: 'Bebas Neue', cursive;
      box-shadow: 0px 3px 15px #999;
      border: 15px solid #841b2d;
      position: relative;
      margin-left: 21.5%;
     }
    
    
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:30px;
      
  } 
  
  div h2{
    text-align: center;
    letter-spacing: 2px;
  }
  
  .sec-p{
   width: 50px;
    height: 2px;
    margin: auto;
    background-color: #841b2d;
    margin-top: 40px;
    
  }
  .sec-p2 {
    text-align: center;
    margin-top:35px;
    font-size:21px;
  }
  
  .card-icons a {
    margin:6px;
    font-size: 27px; 
  }
  
  .card-icons{
    text-align: center;
    margin-top: 30%;
    background-color:white;
     width: 100%;
     height: 60px;
    
  }
  
  /*.div-icon{
     background-color:white;
     width: 100%;
     height: 60px;
  
    
  
  }*/
  .card-icons i{
    margin-top:20px;
    color:black;
  }
  
  
  
  
  .section{
    width:100%;
    height:155vh;
    display: flex;    
    font-family: 'Bebas Neue', cursive;
    
    
  }
  
    .description{
    margin-top: 570px;
    line-height:5px;
    animation-name: container;
    animation-duration: 9s;
    margin-left: -330px;
    }
  /*@keyframes container{
    from{transform :translateY(-100px)}
    to{transform : translateY(30px)}
  }*/
  
    
  
  .description h2{
    font-size: 10vw;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #999;
    text-decoration: underline;
    text-decoration-color: #841b2d;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 70px;
  }
  .intro{
    font-size: 15px;
    font-weight:bold;
    word-spacing: -1px;
    margin-right:10px;
    margin-left:80px;
    
    
  }
  .button{
   display:flex;
  gap:15px;
  margin-left:10px;
  padding-top:20px;
  padding-bottom: 20px;
  
  
   }
  
  .description button{
    width:88px;
    height:35px;
    font-size:14px;
   cursor:pointer;
   box-shadow: 0 5px rgba(0,0,0,.2);
   font-family: 'Bebas Neue', cursive;
   border-radius: 10px;
   letter-spacing: 1px;
  }
  
  .btn-1{
    border-style:none;
    background-color: white;
   color: black;
   border: 3px solid black;
   
  }
  
   
  .btn-2 {
    border-style:none;
    background-color: white;
    border: 3px solid black;
  }
  
  .description button:active {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.2);;
    transform: translateY(4px);
    
  }
  
  .description p{
    line-height: 1.7rem;
    padding-top:1px;
    font-size:2vw;
    word-spacing: 0.5px;
    text-align: justify;
    margin-left: 10px;
    width: 320px;
    font-family:  'Playfair Display', serif;
    
  }
  
  .projects-section{
    padding-top:100px;
    margin-top:20px;
    margin-bottom: 90px;
    height: 250vh; 
    background: black;
   }
  
  .projects-section h1{
    text-align: center;
    font-size:45px;
    margin-top: -14px;
    color: white;
    font-family: 'Bebas Neue', cursive;       
    letter-spacing: 3px;
  
  }
  
  .projects-section  h1:after{
    content: "";
    background-color:#841b2d;
    height: 4px;
    width: 100px;
    bottom: -10px;
    transition: 0.3s;
    color: #841b2d;
    position: relative;
    left: 42%;
  }
  
  .grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: -50px;
    margin-top: 40px;
   

    
    
    }
  
  .picture-div{
   
    width: 320px;
    height:315px;
    border: 2px solid white;
    background:white;
    /*background: #dfd8c8;*/
    color:black;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 10px ;
    
  }
  
  .picture-div p{
    font-weight:bold;
    font-size: 30px;
    padding-top:60px;
    text-decoration: underline;
    margin-left: 30px;
    
  }
  
  .p-btn1{
   margin-top: 15px;
   margin-left: 25px;
   width: 270px;
   height: 47px;
   border-radius: 5px;
   border: 2px solid black;
   text-transform: uppercase;
   font-size: 27px;
   font-family:  'Bebas Neue', cursive;
   background-color: #841b2d;
   cursor: pointer;
   color: white;
   position: relative;
   letter-spacing: 1px;
  
  }
  .p-btn1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn1:hover{
    padding-right: 14px;
  }
  
  .p-btn1:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  .p-btn2{
    margin-top: 24px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn2:hover{
    padding-right: 14px;
  }
  
  .p-btn2:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn3{
    margin-top: 15px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  .p-btn3:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn3:hover{
    padding-right: 14px;
  }
  
  .p-btn3:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn4{
    margin-top: 15px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color:#841b2d ;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn4:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn4:hover{
    padding-right: 14px;
  }
  
  .p-btn4:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .project-image1{
   
    margin-left: 15px;
    margin-top: 10px;
    width: 290px; 
    
  }
  
  .project-image2{
   
    margin-left:15px;
    margin-top:10px;
    width: 290px;
  
  }
  
  .project-image3{
    width: 290px; 
    margin-left:15px;
    margin-top:10px;
    
    
  }
  
  .project-image4{
    width: 290px; 
    margin-left:10px;
    margin-top:15px;
    
   
  }
  
  .picture-div h3{ 
    position:absolute;
    margin-left: 40px;
    padding-top:20px;
  }
  
  .Resume-box{
    height: 100px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    margin-top: -50px;
  
  }
  .resume{
    color:white;
    font-size: 45px;
    font-family: 'Bebas Neue' , cursive;
    letter-spacing: 3px;
    width:  300px;
    margin: auto;
    padding-top: 30px;
  }
  .resume:hover{
    color:#841b2d;
  }
  .resume-link{
    text-decoration: none;
  }
 
}

@media screen and (min-width:769px) and  (max-width:1024px) {
  .main-section{
    height: 100vh ;
    background-color: black;

  }

  .main-container{
    padding-top: 210px;
    text-align: center;
  }
  .front-head{
    text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;  
  letter-spacing: 6px;
  }
  
  .front-h2{
  
    letter-spacing: 6px;
  text-align: center;
  font-size: 20vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  }
  
  .btn-div{
    margin-left: 930px;
    margin-top: 30px;
  }

  .owner{
    font-family:   'Bebas Neue', cursive;
    color:white;
    font-size: 30px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #841b2d;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .navbar{
    display:flex;
    top: 0;
    width:100%;
    height:68px;
    background: black;
    border-bottom: 1px solid #841b2d;
   
  }
  .nav-lists{
      display:inline-flex;
      gap:15px;
      list-style:none;
      cursor:pointer;
      margin-top:25px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      margin-left: auto;
     
      
     
  }
  
  .nav-lists a {
    display:block;
    padding: 0 3px;
    font-size: 22px;
    color: white;
    text-decoration:none;
    letter-spacing: 3px;
    position: relative;
    margin-right: 20px;
    
    
  } 
  
   .nav-lists  a:after{
    content: "";
    position: absolute;
    background-color: #841b2d;
    height: 2px;
    width: 0;
    left: 4px;
    bottom: -1px;
    transition: 0.3s;
    color: #841b2d;
   }
  .nav-lists a:hover:after{
     width: 90%;
     
  }
  .nav-lists a:hover{
    color: #841b2d;
  }
  
  footer{
  
    bottom:0;
    left:0;
    width:100%;
    height:295px;
    background-color: black;
    border-top: 1px solid gray;
    margin-top: -90px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
  
  }
  .arrow{
   
    margin-left: 88%;
    font-size: 40px;
    color: white;
    cursor: pointer;
   top: -40px;
   
  
  }

  .arrow:hover{
    color: #841b2d;
  }
  
  .icons{
    text-align: center;
  }
   .icons a{
     font-size: 40px;
      margin: 0 14px ;
      color:white;  
   }
   .icons i{
     margin-top: 90px;
   }
  .icons i:hover{
    color:#841b2d;
  }
   .copyright{
     color:white;
     text-align: center;
     font-size: 19px; 
  
    
   }
  
  
  .About{
      width:300px;
      height:470px;
      background-color:#faf3e3;
      font-family: 'Bebas Neue', cursive;
      box-shadow: 0px 3px 15px #999;
      border: 15px solid #841b2d;
      position: relative;
      margin-left: 8%;
     }
    
    
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:30px;
      
  } 
  
  div h2{
    text-align: center;
    letter-spacing: 2px;
  }
  
  .sec-p{
   width: 50px;
    height: 2px;
    margin: auto;
    background-color: #841b2d;
    margin-top: 40px;
    
  }
  .sec-p2 {
    text-align: center;
    margin-top:35px;
    font-size:21px;
  }
  
  .card-icons a {
    margin:6px;
    font-size: 27px; 
  }
  
  .card-icons{
    text-align: center;
    margin-top: 30%;
    background-color:white;
     width: 100%;
     height: 60px;
    
  }
  
  /*.div-icon{
     background-color:white;
     width: 100%;
     height: 60px;
  
    
  
  }*/
  .card-icons i{
    margin-top:20px;
    color:black;
  }
  
  
  
  
  .section{
    width:100%;
    height:155vh;
    display: flex;    
    font-family: 'Bebas Neue', cursive;
    
    
  }
  
    .description{
    margin-top: 70px;
    line-height:5px;
    animation-name: container;
    animation-duration: 9s;
    margin-left: 30px;
    }
  /*@keyframes container{
    from{transform :translateY(-100px)}
    to{transform : translateY(30px)}
  }*/
  
    
  
  .description h2{
    font-size: 80px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #999;
    text-decoration: underline;
    text-decoration-color: #841b2d;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 70px;
  }
  .intro{
    font-size: 15px;
    font-weight:bold;
    word-spacing: -1px;
    margin-right:10px;
    margin-left:80px;
    
    
  }
  .button{
   display:flex;
  gap:15px;
  margin-left:10px;
  padding-top:20px;
  padding-bottom: 20px;
  
  
   }
  
  .description button{
    width:95px;
    height:37px;
    font-size:18px;
   cursor:pointer;
   box-shadow: 0 5px rgba(0,0,0,.2);
   font-family: 'Bebas Neue', cursive;
   border-radius: 10px;
   letter-spacing: 1px;
  }
  
  .btn-1{
    border-style:none;
    background-color: white;
   color: black;
   border: 3px solid black;
   
  }
  
   
  .btn-2 {
    border-style:none;
    background-color: white;
    border: 3px solid black;
  }
  
  .description button:active {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.2);;
    transform: translateY(4px);
    
  }
  
  .description p{
    line-height: 2rem;
    padding-top:1px;
    font-size:1rem;
    word-spacing: 0.5px;
    text-align: justify;
    margin-left: 5px;
    width: 320px;
    font-family:  'Playfair Display', serif;
    
  }
  
  .projects-section{
    padding-top:100px;
    margin-top:20px;
    margin-bottom: 90px;
    height: 160vh; 
    background: black;
   }
  
  .projects-section h1{
    text-align: center;
    font-size:50px;
    margin-top: -14px;
    color: white;
    font-family: 'Bebas Neue', cursive;       
    letter-spacing: 3px;
  
  }
  
  .projects-section  h1:after{
    content: "";
    background-color:#841b2d;
    height: 4px;
    width: 100px;
    bottom: -10px;
    transition: 0.3s;
    color: #841b2d;
    position: relative;
    left: 44%;
  }
  
  .grid{
    /*display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: -50px;
    margin-top: 40px;*/
   
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: repeat(2, 440px); 
   margin: auto ;
  margin-top: 60px;
  
  
    
    
    }
  
  .picture-div{
   
    width: 320px;
    height:315px;
    border: 2px solid white;
    background:white;
    /*background: #dfd8c8;*/
    color:black;
    margin-top: 40px;
    border-radius: 10px ;
    margin: auto;
    
  }
  
  .picture-div p{
    font-weight:bold;
    font-size: 30px;
    padding-top:60px;
    text-decoration: underline;
    margin-left: 30px;
    
  }
  
  .p-btn1{
   margin-top: 15px;
   margin-left: 25px;
   width: 270px;
   height: 47px;
   border-radius: 5px;
   border: 2px solid black;
   text-transform: uppercase;
   font-size: 27px;
   font-family:  'Bebas Neue', cursive;
   background-color: #841b2d;
   cursor: pointer;
   color: white;
   position: relative;
   letter-spacing: 1px;
  
  }
  .p-btn1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn1:hover{
    padding-right: 14px;
  }
  
  .p-btn1:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  .p-btn2{
    margin-top: 24px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn2:hover{
    padding-right: 14px;
  }
  
  .p-btn2:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn3{
    margin-top: 15px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  .p-btn3:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn3:hover{
    padding-right: 14px;
  }
  
  .p-btn3:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn4{
    margin-top: 15px;
    margin-left: 25px;
    width: 270px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 27px;
    font-family:  'Bebas Neue', cursive;
    background-color:#841b2d ;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn4:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn4:hover{
    padding-right: 14px;
  }
  
  .p-btn4:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .project-image1{
   
    margin-left: 15px;
    margin-top: 10px;
    width: 290px; 
    
  }
  
  .project-image2{
   
    margin-left:15px;
    margin-top:10px;
    width: 290px;
  
  }
  
  .project-image3{
    width: 290px; 
    margin-left:15px;
    margin-top:10px;
    
    
  }
  
  .project-image4{
    width: 290px; 
    margin-left:10px;
    margin-top:15px;
    
   
  }
  
  .picture-div h3{ 
    position:absolute;
    margin-left: 40px;
    padding-top:20px;
  }
  
  .Resume-box{
    height: 100px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    margin-top: -50px;
  
  }
  .resume{
    color:white;
    font-size: 45px;
    font-family: 'Bebas Neue' , cursive;
    letter-spacing: 3px;
    width:  300px;
    margin: auto;
    padding-top: 30px;
  }
  .resume:hover{
    color:#841b2d;
}
.resume-link{
  text-decoration: none;
}
}

@media screen and (min-width:1025px) and (max-width:1200px){
  .main-section{
    height: 100vh ;
    background-color: black;

  }

  .main-container{
    padding-top: 210px;
    text-align: center;
  }
  .front-head{
    text-align: center;
  font-size: 18vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;  
  letter-spacing: 6px;
  }
  
  .front-h2{
  
    letter-spacing: 6px;
  text-align: center;
  font-size: 18vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  }
  
  .btn-div{
    margin-left: 930px;
    margin-top: 30px;
  }

  .owner{
    font-family:   'Bebas Neue', cursive;
    color:white;
    font-size: 30px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #841b2d;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .navbar{
    display:flex;
    top: 0;
    width:100%;
    height:68px;
    background: black;
    border-bottom: 1px solid #841b2d;
   
  }
  .nav-lists{
      display:inline-flex;
      gap:15px;
      list-style:none;
      cursor:pointer;
      margin-top:25px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      margin-left: auto;
     
      
     
  }
  
  .nav-lists a {
    display:block;
    padding: 0 3px;
    font-size: 24px;
    color: white;
    text-decoration:none;
    letter-spacing: 3px;
    position: relative;
    margin-right: 20px;
    
    
  } 
  
   .nav-lists  a:after{
    content: "";
    position: absolute;
    background-color: #841b2d;
    height: 2px;
    width: 0;
    left: 4px;
    bottom: -1px;
    transition: 0.3s;
    color: #841b2d;
   }
  .nav-lists a:hover:after{
     width: 90%;
     
  }
  .nav-lists a:hover{
    color: #841b2d;
  }
  
  footer{
  
    bottom:0;
    left:0;
    width:100%;
    height:295px;
    background-color: black;
    border-top: 1px solid gray;
    margin-top: -90px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
  
  }
  .arrow{
   
    margin-left: 88%;
    font-size: 40px;
    color: white;
    cursor: pointer;
   top: -40px;
   
  
  }

  .arrow:hover{
    color: #841b2d;
  }
  
  .icons{
    text-align: center;
  }
   .icons a{
     font-size: 40px;
      margin: 0 14px ;
      color:white;  
   }
   .icons i{
     margin-top: 90px;
   }
  .icons i:hover{
    color:#841b2d;
  }
   .copyright{
     color:white;
     text-align: center;
     font-size: 19px; 
  
    
   }
  
  
  .About{
      width:320px;
      height:490px;
      background-color:#faf3e3;
      font-family: 'Bebas Neue', cursive;
      box-shadow: 0px 3px 15px #999;
      border: 15px solid #841b2d;
      position: relative;
      margin-left: 15%;
     }
    
    
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:30px;
      
  } 
  
  div h2{
    text-align: center;
    letter-spacing: 2px;
  }
  
  .sec-p{
   width: 50px;
    height: 2px;
    margin: auto;
    background-color: #841b2d;
    margin-top: 40px;
    
  }
  .sec-p2 {
    text-align: center;
    margin-top:35px;
    font-size:21px;
  }
  
  .card-icons a {
    margin:6px;
    font-size: 27px; 
  }
  
  .card-icons{
    text-align: center;
    margin-top: 35%;
    background-color:white;
     width: 100%;
     height: 60px;
    
  }
  
  /*.div-icon{
     background-color:white;
     width: 100%;
     height: 60px;
  
    
  
  }*/
  .card-icons i{
    margin-top:20px;
    color:black;
  }
  
  
  
  
  .section{
    width:100%;
    height:120vh;
    display: flex;    
    font-family: 'Bebas Neue', cursive;
    
    
  }
  
    .description{
    margin-top: 70px;
    line-height:5px;
    animation-name: container;
    animation-duration: 9s;
    margin-left: 30px;
    }
  /*@keyframes container{
    from{transform :translateY(-100px)}
    to{transform : translateY(30px)}
  }*/
  
    
  
  .description h2{
    font-size: 80px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #999;
    text-decoration: underline;
    text-decoration-color: #841b2d;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 70px;
  }
  .intro{
    font-size: 15px;
    font-weight:bold;
    word-spacing: -1px;
    margin-right:10px;
    margin-left:80px;
    
    
  }
  .button{
   display:flex;
  gap:15px;
  margin-left:10px;
  padding-top:20px;
  padding-bottom: 20px;
  
  
   }
  
  .description button{
    width:95px;
    height:37px;
    font-size:18px;
   cursor:pointer;
   box-shadow: 0 5px rgba(0,0,0,.2);
   font-family: 'Bebas Neue', cursive;
   border-radius: 10px;
   letter-spacing: 1px;
  }
  
  .btn-1{
    border-style:none;
    background-color: white;
   color: black;
   border: 3px solid black;
   
  }
  
   
  .btn-2 {
    border-style:none;
    background-color: white;
    border: 3px solid black;
  }
  
  .description button:active {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.2);;
    transform: translateY(4px);
    
  }
  
  .description p{
    line-height: 2.2rem;
    padding-top:1px;
    font-size:1.1rem;
    word-spacing: 0.5px;
    text-align: justify;
    margin-left: 5px;
    width: 340px;
    font-family:  'Playfair Display', serif;
    
  }
  
  .projects-section{
    padding-top:100px;
    margin-top:20px;
    margin-bottom: 90px;
    height: 160vh; 
    background: black;
   }
  
  .projects-section h1{
    text-align: center;
    font-size:50px;
    margin-top: -14px;
    color: white;
    font-family: 'Bebas Neue', cursive;       
    letter-spacing: 3px;
  
  }
  
  .projects-section  h1:after{
    content: "";
    background-color:#841b2d;
    height: 4px;
    width: 100px;
    bottom: -10px;
    transition: 0.3s;
    color: #841b2d;
    position: relative;
    left: 45%;
  }
  
  .grid{
    /*display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: -50px;
    margin-top: 40px;*/
   
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  grid-template-rows: repeat(2, 440px); 
   margin: auto ;
  margin-top: 60px;
      
    }
  
  .picture-div{
   
    width: 330px;
    height:325px;
    border: 2px solid white;
    background:white;
    /*background: #dfd8c8;*/
    color:black;
    margin-top: 40px;
    border-radius: 10px ;
    margin: auto;
    
  }
  
  .p-btn1{
   margin-top: 15px;
   margin-left: 20px;
   width: 290px;
   height: 48px;
   border-radius: 5px;
   border: 2px solid black;
   text-transform: uppercase;
   font-size: 28px;
   font-family:  'Bebas Neue', cursive;
   background-color: #841b2d;
   cursor: pointer;
   color: white;
   position: relative;
   letter-spacing: 1px;
  
  }
  .p-btn1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn1:hover{
    padding-right: 14px;
  }
  
  .p-btn1:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  .p-btn2{
    margin-top: 24px;
    margin-left: 20px;
    width: 290px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 28px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn2:hover{
    padding-right: 14px;
  }
  
  .p-btn2:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn3{
    margin-top: 15px;
    margin-left: 20px;
    width: 290px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 28px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  .p-btn3:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn3:hover{
    padding-right: 14px;
  }
  
  .p-btn3:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn4{
    margin-top: 15px;
    margin-left: 20px;
    width: 290px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 28x;
    font-family:  'Bebas Neue', cursive;
    background-color:#841b2d ;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn4:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn4:hover{
    padding-right: 14px;
  }
  
  .p-btn4:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .project-image1{
   
    margin-left: 15px;
    margin-top: 10px;
    width: 300px; 
    
  }
  
  .project-image2{
   
    margin-left:15px;
    margin-top:10px;
    width: 300px;
  
  }
  
  .project-image3{
    width: 300px; 
    margin-left:15px;
    margin-top:10px;
    
    
  }
  
  .project-image4{
    width: 300px; 
    margin-left:10px;
    margin-top:15px;
    
   
  }
  
  .picture-div h3{ 
    position:absolute;
    margin-left: 40px;
    padding-top:20px;
  }
  
  .Resume-box{
    height: 100px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    margin-top: -50px;
  
  }
  .resume{
    color:white;
    font-size: 42px;
    font-family: 'Bebas Neue' , cursive;
    letter-spacing: 3px;
    width:  300px;
    margin: auto;
    padding-top: 30px;
  }
  .resume:hover{
    color:#841b2d;
}
.resume-link{
  text-decoration: none;
}
}

@media screen and (min-width:1201px){
  .main-section{
    height: 100vh ;
    background-color: black;

  }

  .main-container{
    padding-top: 210px;
    text-align: center;
  }
  .front-head{
    text-align: center;
  font-size: 15vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;  
  letter-spacing: 6px;
  }
  
  .front-h2{
  
    letter-spacing: 6px;
  text-align: center;
  font-size: 15vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: uppercase;
  }
  
  .btn-div{
    margin-left: 930px;
    margin-top: 30px;
  }

  .owner{
    font-family:   'Bebas Neue', cursive;
    color:white;
    font-size: 30px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #841b2d;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .navbar{
    display:flex;
    top: 0;
    width:100%;
    height:68px;
    background: black;
    border-bottom: 1px solid #841b2d;
    position:fixed;
    flex-direction:column; 
   
  }
  .nav-lists{
      display:inline-flex;
      gap:20px;
      list-style:none;
      cursor:pointer;
      margin-top:25px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      margin-left: auto;
  }
  
  .nav-lists a {
    display:block;
    padding: 0 9px;
    font-size: 25px;
    color: white;
    text-decoration:none;
    letter-spacing: 3px;
    position: relative;
    margin-right: 20px;
    
    
  } 
  
   .nav-lists  a:after{
    content: "";
    position: absolute;
    background-color: #841b2d;
    height: 2px;
    width: 0;
    left: 4px;
    bottom: -1px;
    transition: 0.3s;
    color: #841b2d;
   }
  .nav-lists a:hover:after{
     width: 90%;
     
  }
  .nav-lists a:hover{
    color: #841b2d;
  }
  
  footer{
  
    bottom:0;
    left:0;
    width:100%;
    height:295px;
    background-color: black;
    border-top: 1px solid gray;
    margin-top: -90px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
  
  }
  .arrow{
   
    margin-left: 92%;
    font-size: 40px;
    color: white;
    cursor: pointer;
   top: -60px;
   
  
  }

  .arrow:hover{
    color: #841b2d;
  }
  
  .icons{
    text-align: center;
  }
   .icons a{
     font-size: 40px;
      margin: 0 14px ;
      color:white;  
   }
   .icons i{
     margin-top: 90px;
   }
  .icons i:hover{
    color:#841b2d;
  }
   .copyright{
     color:white;
     text-align: center;
     font-size: 18px; 
  
    
   }
  
  
  .About{
      width:340px;
      height:520px;
      background-color:#faf3e3;
      font-family: 'Bebas Neue', cursive;
      box-shadow: 0px 3px 15px #999;
      border: 15px solid #841b2d;
      position: relative;
      margin-left: 25%;
     }
    
    
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:30px;
      
  } 
  
  
  .sec-p{
   width: 50px;
    height: 2px;
    margin: auto;
    background-color: #841b2d;
    margin-top: 40px;
    
  }
  .sec-p2 {
    text-align: center;
    margin-top:35px;
    font-size:20px;
  }
  
  .card-icons a {
    margin:6px;
    font-size: 25px; 
  }
  
  .card-icons{
    text-align: center;
    margin-top: 40%;
    background-color:white;
     width: 100%;
     height: 60px;
    
  }
  
  .card-icons i{
    margin-top:20px;
    color:black;
  }
  
  
  
  
  .section{
    width:100%;
    height:100vh;
    display: flex;    
    font-family: 'Bebas Neue', cursive;
    
    
  }
  
    .description{
    margin-top: 80px;
    line-height:5px;
    animation-name: container;
    animation-duration: 9s;
    margin-left: 30px;
    box-sizing: border-box;
    }
  
    
  
  .description h2{
    font-size: 95px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px #999;
    text-decoration: underline;
    text-decoration-color: #841b2d;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 70px;
  }
  
  .button{
   display:flex;
  gap:15px;
  margin-left:10px;
  padding-top:20px;
  padding-bottom: 20px;
  
  
   }
  
  .description button{
    width:110px;
    height:40px;
    font-size:20px;
   cursor:pointer;
   box-shadow: 0 5px rgba(0,0,0,.2);
   font-family: 'Bebas Neue', cursive;
   border-radius: 10px;
   letter-spacing: 1px;
  }
  
  .btn-1{
    border-style:none;
    background-color: white;
   color: black;
   border: 3px solid black;
   
  }
  
   
  .btn-2 {
    border-style:none;
    background-color: white;
    border: 3px solid black;
  }
  
  .description button:active {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.2);;
    transform: translateY(4px);
    
  }
  
  .description p{
    line-height: 1.9rem;
    padding-top:10px;
    font-size:17px;
    word-spacing: 3px;
    text-align: justify;
    margin-left: 5px;
    width: 390px;
    font-family:  'Playfair Display', serif;
    
  }
  
  .projects-section{
    padding-top:100px;
    margin-top:20px;
    margin-bottom: 90px;
    height: 160vh; 
    background: black;
   }
  
  .projects-section h1{
    text-align: center;
    font-size:50px;
    margin-top: -17px;
    color: white;
    font-family: 'Bebas Neue', cursive;       
    letter-spacing: 3px;
  
  }
  
  .projects-section  h1:after{
    content: "";
    background-color:#841b2d;
    height: 4px;
    width: 100px;
    bottom: -10px;
    transition: 0.3s;
    color: #841b2d;
    position:relative;
    left: 46%;
  }
  
  .grid{
    /*display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: -50px;
    margin-top: 40px;*/
   
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  grid-template-rows: repeat(2, 440px); 
   margin: auto ;
  margin-top: 60px;
      
    }
  
  .picture-div{
   
    width: 350px;
    height:350px;
    border: 2px solid white;
    background:white;
    /*background: #dfd8c8;*/
    color:black;
    margin-top: 40px;
    border-radius: 10px ;
    margin: auto;
    
  }
  
  .p-btn1{
   margin-top: 15px;
   margin-left: 20px;
   width: 310px;
   height: 45px;
   border-radius: 5px;
   border: 2px solid black;
   text-transform: uppercase;
   font-size: 30px;
   font-family:  'Bebas Neue', cursive;
   background-color: #841b2d;
   cursor: pointer;
   color: white;
   position: relative;
   letter-spacing: 1px;
  
  }
  .p-btn1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn1:hover{
    padding-right: 14px;
  }
  
  .p-btn1:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  .p-btn2{
    margin-top: 24px;
    margin-left: 20px;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn2:hover{
    padding-right: 14px;
  }
  
  .p-btn2:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn3{
    margin-top: 15px;
    margin-left: 20px;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size:30px;
    font-family:  'Bebas Neue', cursive;
    background-color: #841b2d;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  .p-btn3:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn3:hover{
    padding-right: 14px;
  }
  
  .p-btn3:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .p-btn4{
    margin-top: 15px;
    margin-left: 20px;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
    font-family:  'Bebas Neue', cursive;
    background-color:#841b2d ;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
  }
  
  .p-btn4:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -20px;
    transition: 0.5s;
    
    
  }
  .p-btn4:hover{
    padding-right: 14px;
  }
  
  .p-btn4:hover:after {
    opacity: 1;
    right: 70px;
  }
  
  
  
  .project-image1{
   
    margin-left: 15px;
    margin-top: 10px;
    
    
  }
  
  .project-image2{
   
    margin-left:15px;
    margin-top:10px;
   
  
  }
  
  .project-image3{
     
    margin-left:15px;
    margin-top:10px;
    
    
  }
  
  .project-image4{
   
    margin-left:10px;
    margin-top:15px;
    
   
  }
  
  .picture-div h3{ 
    position:absolute;
    margin-left: 40px;
    padding-top:20px;
  }
  
  .Resume-box{
    height: 100px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    margin-top: -50px;
  
  }
  .resume{
    color:white;
    font-size: 45px;
    font-family: 'Bebas Neue' , cursive;
    letter-spacing: 3px;
    width:  300px;
    margin: auto;
    padding-top: 30px;
  }
  .resume:hover{
    color:#841b2d;
}
.resume-link{
  text-decoration: none;
}

}